
.Profile {
    width: 30%;
    min-height: 100%;
    height:inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.Profile img {
    height: 10rem;
    width: auto;
    border-radius: 50%;
    margin-bottom: 5px;
}

@media only screen and (max-width: 1020px) and (orientation: portrait) {
    .Profile {
        min-height: unset;
    }

    .Profile img {
        height: 5rem;
    }
  }